backend/components/RegisterZavodov/RegZavodServicePort.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://si.edu.mss.si/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://si.edu.mss.si/" name="RegZavodService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://si.edu.mss.si/" schemaLocation="https://paka1.mss.edus.si:443/WebServices/RegZavod/RegZavodServicePort?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="getRegZavodProgHoriz">
        <part name="parameters" element="tns:getRegZavodProgHoriz"/>
    </message>
    <message name="getRegZavodProgHorizResponse">
        <part name="parameters" element="tns:getRegZavodProgHorizResponse"/>
    </message>
    <message name="Exception">
        <part name="fault" element="tns:Exception"/>
    </message>
    <message name="getRegZavod">
        <part name="parameters" element="tns:getRegZavod"/>
    </message>
    <message name="getRegZavodResponse">
        <part name="parameters" element="tns:getRegZavodResponse"/>
    </message>
    <portType name="RegZavodService">
        <operation name="getRegZavodProgHoriz">
            <input message="tns:getRegZavodProgHoriz"/>
            <output message="tns:getRegZavodProgHorizResponse"/>
            <fault message="tns:Exception" name="Exception"/>
        </operation>
        <operation name="getRegZavod">
            <input message="tns:getRegZavod"/>
            <output message="tns:getRegZavodResponse"/>
            <fault message="tns:Exception" name="Exception"/>
        </operation>
    </portType>
    <binding name="RegZavodServicePortBinding" type="tns:RegZavodService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getRegZavodProgHoriz">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="getRegZavod">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="RegZavodService">
        <port name="RegZavodServicePort" binding="tns:RegZavodServicePortBinding">
            <soap:address location="https://paka1.mss.edus.si:443/WebServices/RegZavod/RegZavodServicePort"/>
        </port>
    </service>
</definitions>